<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>

		<add name="Estimate.Properties.Settings.kalviaga_NTFin_TestConnectionString"
			 connectionString="Data Source=45.64.104.2;Initial Catalog=kalviaga_NTFin_Test;User ID=TestDBA;Password=N@tsys@2024;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" /> 
        
        
    </connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>